<div class="row d-flex justify-content-center">
		<div class="col-md-5 box-shadow">
			<h2 class="text-center">Login</h2>
			<div class="form-group">
				<label for="loginUsername">Username</label>
				<input class="form-control" id="loginUsername" placeholder="Username" [formControl]="username"/>
			</div>
			<div class="form-group">
				<label for="loginPassword">Password</label>
				<input type="password" class="form-control" id="loginPassword" placeholder="Password" [formControl]="password"/>
			</div>
			<button class="btn btn-success" (click)="loginClick()">Login</button>
			<button class="btn btn-danger" (click)="logoutClick()">Logout</button>
		</div>
		<div class="col-md-5 box-shadow">
			<h2 class="text-center">Register</h2>
			<div class="form-group">
				<label for="newUsername">Username</label>
				<input class="form-control" id="newUsername" placeholder="New Username" [formControl]="newusername"/>
			</div>
			<div class="form-group">
				<label for="newPassword">Password</label>
				<input type="password" class="form-control" id="newPassword" placeholder="New Password" [formControl]="newpassword"/>
			</div>
			<button class="btn btn-success" (click)="onCreateUserClick()">Register</button>
		</div>
</div>