<div class="row">
<table style="margin-top: 64px !important">
    <thead>
      <th colspan="3">{{workout.workoutName}}
        <small><span *ngIf="workout.activities.length > 0">Last Activity: {{workout.activities[workout.activities.length - 1].timestamp}}</span></small>
      </th>
      <th>
          <button class="btn btn-success" [disabled]="!isLoggedIn()" (click)="onLogWorkoutActivity(workout._id)">Log Activity</button>        
      </th>
      <th>
          <button class="btn btn-danger" [disabled]="!isLoggedIn()" (click)="onDeleteWorkout(workout._id)">Delete</button>
      </th>
    </thead>
    <thead>
      <th>Name</th>
      <th>Description</th>
      <th>Sets</th>
      <th>Reps</th>
      <th>Manage</th>
    </thead>
    <tbody>
      <tr *ngFor="let exercise of (workout.exercises ? workout.exercises : [])">
        <td>{{exercise.exerciseName}}</td>
        <td>{{exercise.description}}</td>
        <td>{{exercise.sets}}</td>
        <td>{{exercise.reps}}</td>
        <td>
          <button class="btn btn-danger" [disabled]="!isLoggedIn()" (click)="onDeleteExercise(workout._id, exercise._id)">Delete Exercise</button>
        </td>
      </tr>
      <tr>
        <td><input class="form-control" [formControl]="exerciseName"/></td>
        <td><input class="form-control" [formControl]="exerciseDescription" /></td>
        <td><input class="form-control" [formControl]="exerciseSets" /></td>
        <td><input class="form-control" [formControl]="exerciseReps" /></td>
        <td>
          <button class="btn btn-success" [disabled]="!isLoggedIn()" (click)="onCreateExercise(workout._id)">Create Exercise</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>